## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Sass
.sass-cache
*.css.map

## Environment normalisation:
/.bundle/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


