// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------

@import "addons/base";
@import "addons/reset";
@import "addons/settings";
@import "addons/mixins";
@import "addons/states";
@import "addons/typography";
@import "addons/forms";


/* ::Max width, for images etc... in RWD												*/
/* ------------------------------------------------------------ */

.max-width {
	max-width: 100%;
	height: auto;
}


/* ::Base styles Almost exclusively single element selectors    */
/* ------------------------------------------------------------ */

html {
  font-size: 100%;
}

body {
  color: $base-color;
  font-family: $helvetica;
}

a {
  color: $action;
  @include force-wrap;          // force text links to wrap
    &:hover, &:focus, &:active {
      color: $action-respond
    }
}


/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.content {
  @include container;
  @include susy-grid-background;
}


/* ::Debugs and #grid by Jon Gibbins													 */
/* ----------------------------------------------------------- */

#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz{
  // Use this one NOT using a global border-box setting
  // height: $base-line-height - 1px;

  // Use this one if you ARE using a global border-box setting
  height: $base-line-height;

  // Carry on...
  border-bottom: 1px solid #DDDDDD;
  margin: 0;
  padding: 0;
}
