/*------------------------------------*\
    Imports pre-render
\*------------------------------------*/

@import "addons/base";
@import "addons/normalizer";
@import "addons/settings";
@import "addons/mixins";
@import "addons/states";
@import "addons/typography";
@import "addons/forms";



/*------------------------------------*\
    Max width, for images in RWD
\*------------------------------------*/

.max-width {
	max-width: 100%;
	height: auto;
}



/*------------------------------------*\
    Base styles single selectors
\*------------------------------------*/

html {
  font-size: 100%;
}

body {
  color: $base-color;
  font-family: $helvetica;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $action;
  @include force-wrap;
    &:hover,
    &:focus,
    &:active {
      color: $action-respond
    }
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header {

}



/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.content {
  @include container;
  // @include susy-grid-background;
}



/*------------------------------------*\
    $SIDEBAR
\*------------------------------------*/

.sidebar {

}



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer {

}


