// ::Imports pre-render. Must be after normalizer
// ------------------------------------------------------------

@import "addons/base";
@import "addons/normalizer";
@import "addons/clearfix";
@import "addons/settings";
@import "addons/mixins";
@import "addons/states";
@import "addons/typography";
@import "addons/forms";


/* ::Max width, for images etc... in RWD												*/
/* ------------------------------------------------------------ */

.max-width {
	max-width: 100%;
	height: auto;
}


/* ::Base styles Almost exclusively single element selectors    */
/* ------------------------------------------------------------ */

html {
  font-size: 100%;
}

body {
  color: $base-color;
  font-family: $helvetica;
}

a {
  color: $action;
  @include force-wrap;          // force text links to wrap
    &:hover, &:focus, &:active {
      color: $action-respond
    }
}


/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.content {
  @include container;
  @include susy-grid-background;
}

