/* ::State styles                                               */
/* ------------------------------------------------------------ */

%is-hidden {
	display: none;
}

%is-block {
	display: block;
}

%is-inline {
	display: inline-block;
}

%is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

%is-lowercase {
	text-transform: lowercase;
}

%is-center {
	text-align: center;
}

%is-left {
	float: left;
}

%is-right {
	float: right;
}

%is-relative {
	position: relative;
}

%is-absolute {
	position: absolute;
}
