@import "settings";
@import "mixins";


/*------------------------------------*\
    CORE FONT SIZING AND RHYTHM
\*------------------------------------*/

// You'll often get better results here if you work in numbers the divide into the baseline.
// IE, if you have a baseline of 6px, multiples or divisions of often provide best results in ems

h1 {
    @include adjust-font-size-to(36px);
    margin: 0 0 rhythm(3, 36px) 0;
}

h2 {
    @include adjust-font-size-to(24px);
    margin: rhythm(4, 24px) 0 rhythm(2, 24px) 0;
}

h3 {
    @include adjust-font-size-to(21px);
    margin: rhythm(4, 21px) 0 rhythm(2, 21px) 0;
}

h4 {
    @include adjust-font-size-to(18px);
    margin: 0 0 rhythm(1, 18px) 0;
}

h5 {
    @include adjust-font-size-to(16px);
    margin: 0 0 rhythm(1, 16px) 0;
}

h6 {
    @include adjust-font-size-to(14px);
    margin: 0 0 rhythm(1, 14px) 0;
}

p, pre, label {
    @include adjust-font-size-to(16px);
    margin: 0 0 rhythm(2, 16px) 0;
}

ol, ul {
    @include adjust-font-size-to(16px);
    margin: 0 0 rhythm(4, 16px) 0;
}

li {
    line-height: auto;
}
